# Server Configuration
SERVER_PORT=8080
SERVER_HOST=0.0.0.0

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=automax
DB_PASSWORD=automax123
DB_NAME=automax
DB_SSLMODE=disable

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_BUCKET=automax

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRE_HOUR=24

# GEOLOCATION 
MAX_INCIDENT_DISTANCE=500
CLIENT_CODE=EPM940

# SMTP Credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=as@gmail.com
SMTP_PASS=
SMTP_FROM=automaxtestdeveloper@gmail.com

# Twilio configuration
TWILIO_ACCOUNT_SID= 
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
 
# Meta Configuration
METAURL=https://graph.facebook.com/v24.0/asdf/messages
META_ACCESS_TOKEN=

# OTP Configuration
OTP_MAX_SEND_ATTEMPT=6
VERIFY_OTP_MAX_ATTEMPT=3
OTP_DATA_REDIS_EXPIRATION_TIME=2
OTP_COUNTER_EXPIRATION_TIME=2
 